*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, #4f639b, #fff);
}
#model_box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}
#model_box img:nth-child(1){
    width: 100%;
}
.offer_text{
    padding: 20px 40px 40px 40px;
    font-size: 14px;
    line-height: 22px;
}
.offer_text h2{
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.offer_text small{
    display: inline-block;
    color: #ff2b4e;
    font-weight: 600;
    margin-bottom: 20px;
}
.offer_text form{
    margin-top: 30px;
    display: flex;
    background-color: #efefef;
    border-radius: 4px;
}
.offer_text form input{
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 12px 10px;
}
.offer_text form button{
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #ff2b4e;
    color: #fff;
    padding: 0px 15px;
    border-radius: 4px;
}
.offer_text small{
    text-transform: capitalize;
}
.close_icon{
    width: 30px;
    height: 30px;
    border-radius: 0%;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
::placeholder{
    text-transform: capitalize;
}


/*   media screen    */


@media (max-width: 400px){
    .offer_text{
        padding: 20px 10px;
    }
}

@media (max-width: 300px){
    #model_box{
        width: 95%;
    }
    .offer_text h2{
        font-size: 30px;
    }
    .offer_text form{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .offer_text form button{
        width: 50%;
        padding: 10px;
        position: absolute;
        top: 370px;
        left: 60px;
    }
}
